{% extends "students/students_base.html"%}
{% load i18n %}

{% block content %}
        {% trans 'Student List' as name %}
        {% include "h1.html" with page_name=name %}
        <ul class="list-group">
        {% for student in students %}
          <li class="list-group-item">
            <a href="{% url 'students:student' student.id %}">
            {{ student.surname }} {{ student.name }}
            </a>
          </li>
        {% endfor %}
        </ul>
        {% include "add.html" with add_url="students:add" %}
{% endblock %}
