{% extends "courses/courses_base.html"%}

{% block content %}
{% include "h1.html" with page_name="Список курсов" %}
        <table class="table">
        <thead>
          <tr>
            <th>№</th>
            <th>Название</th>
            <th>Дата начала</th>
            <th>Дата завершения</th>
          </tr>
        </thead>
        <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course.id }}</td>
            <td><a href="{% url 'courses:course' course.id%}">
              {{ course.get_technology_choice_display }}
              </a>
            </td>
            <td>{{ course.start_date }}</td>
            <td>{{ course.end_date }}</td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}
